.visualization-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 2rem;
  
    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  
    svg {
      width: 400px; /* Adjust this value according to your desired width */
      height: 400px;
      background-color: #f0f2f5;
      border-radius: 10px;
      box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }
  }
  
  .visualization-charts {
    padding-top: 2rem ;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap; /* Changed from wrap to nowrap */
  }
  