
.news-item {
    align-items:center;
}

.news-publishedAt {
    size: 0.5rem;
    color: lightgray;
}

.news-title {
    size: 3rem;
    color: black;
}

.news-source {
    size: 1rem;
    color: darkgray;
}